@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 785px) {
  .profile__title {
    font-size: 28px;
    line-height: 34px;
  }

  .profile__add-button {
    width: 125px;
  }
}

@media screen and (max-width: 632px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }

  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }

  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
  }

  .profile__info {
    margin: 30px 0 36px;
    justify-items: center;
  }

  .profile__title {
    max-width: 198px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-right: 10px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-right: auto;
    margin-left: auto;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }

  .profile__add-button {
    margin-left: 0;
    background: transparent url(../images/Add-Button-Mobile.svg) center
      no-repeat;
    width: 282px;
  }
}
